.menu-container {
  position: absolute;
  top: 2px;
  left: 95vw;
  width: fit-content;
  height: fit-content;
  z-index: 5;
  color: #ffc1da;
  transition: 0.2s;

  &:hover {
    color: #fff;
  }

  @media screen and (max-width: 820px) {
    left: 85vw;
  }
}
