<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="login-container">
    <mat-card>
      <mat-icon class="arrow-icon" routerLink="/autenticacao">
        arrow_back_ios
      </mat-icon>
      <mat-card-title color="secondary" class="my-2">Cadastrar</mat-card-title>
      <mat-card-subtitle>Escolha o tipo do cadastro</mat-card-subtitle>
      <mat-card-content>
        <mat-radio-group
          class="d-flex justify-content-around mb-2"
          formControlName="accessType"
        >
          <mat-radio-button value="admin"> Administrador </mat-radio-button>
          <mat-radio-button value="user"> Usuário </mat-radio-button>
        </mat-radio-group>

        <ng-container *ngIf="form.get('accessType')?.value">
          <div class="d-flex flex-column">
            <mat-form-field appearance="fill" class="mb-2">
              <mat-label>Digite seu nome</mat-label>
              <input matInput formControlName="name" />
              <mat-error *ngIf="form.get('name')?.hasError('required')"
                >Campo obrigatório</mat-error
              >
            </mat-form-field>

            <mat-form-field appearance="fill" class="mb-2">
              <mat-label>Digite seu e-mail</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="form.get('name')?.hasError('required')"
                >Campo obrigatório</mat-error
              >
              <mat-error *ngIf="form.get('email')?.hasError('email')">
                Preencha o campo corretamente
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="mb-2">
              <mat-label>Digite sua senha</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
              />
              <mat-icon matSuffix (click)="toggleShowPass()">
                {{ hide ? "visibility_off" : "visibility" }}
              </mat-icon>
              <mat-error *ngIf="form.get('name')?.hasError('required')"
                >Campo obrigatório</mat-error
              >
              <mat-error *ngIf="form.get('password')?.hasError('minlength')">
                A senha deve conter ao menos 6 caracteres
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Confirme sua senha</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="confirmPassword"
              />
              <mat-error *ngIf="form.get('name')?.hasError('required')"
                >Campo obrigatório</mat-error
              >

              <mat-error
                *ngIf="form.get('confirmPassword')?.hasError('differentValue')"
              >
                As senhas não coincidem
              </mat-error>
            </mat-form-field>
          </div>
        </ng-container>
      </mat-card-content>
      <ng-container *ngIf="form.get('accessType')?.value">
        <button mat-raised-button color="primary" type="submit">SALVAR</button>
        <mat-card-footer>
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="loading"
          ></mat-progress-bar>
        </mat-card-footer>
      </ng-container>
    </mat-card>
  </div>
</form>

<app-loader></app-loader>
