@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "~ngx-toastr/toastr";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f1f1f1;
  font-family: "Roboto", sans-serif;
}

span.mat-radio-inner-circle {
  background-color: #c2185b !important;
}

span.mat-radio-label-content {
  color: lightgrey;
}

div.mat-drawer-inner-container {
  padding-top: 80px;
}

mat-form-field {
  margin-top: 5px;
}
