footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #424242;

  width: 100vw;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 1rem;
}
