footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #424242;

  width: 100vw;
  height: 55px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
